/* CSS declarations go here */
.navbar{
    margin-bottom: 0;
}
.side{
    position: fixed;
    height: 100%;
    background-color: grey;
}
.table td{
    text-align : center;
}

.h2 {
  word-wrap: break-word;
}
